.card {
  border-radius: 8px;
  padding: 5px 35px;
  margin-bottom: 25px;
  margin-top: 25px;
  width: auto;
  height: auto;
  background-color: #EEEEEE;
  color: #3B3B3B;
  font-family: 'Poppins';
}

.cardResumo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.infos{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}
.infos strong{
  font-size: 25px;
}
.cardDetalhes {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #eee;
}
.cardDetalhes h2{
  font-size: 20px;
  font-weight: 700;
}
.cardDetalhes h1{
  font-weight: 700;
  font-size: 25px;
}

.botoesDetalhes {
  margin-top: 12px;
}

.botaoDetalhes, .botoesDetalhes2, .botaoEntregue, .botaoFechar {
  padding: 6px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.botaoDetalhes {
  background-color: #052A75;
  color: #ffffff;
  width: 120px;
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 25px;
}

.botaoEntregue {
  background-color: #052A75;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}

.botaoFechar {
  background-color: #e00000;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins";
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.infos2{
  font-size: 19px;
}
.telefone{
  width: 1.5%;
  margin-top: 8px;
}
.lugar{
  width: 1.5%;
}
.lista{
  width: 1.5%;
}
.conteudo1{
  margin-left: 19px;
}
.conteudo2{
  margin-left: 19px;
  margin-top: -32px;
}

@media (max-width: 768px){
  .telefone{
    width: 6%;
  }
  .lugar{
    width: 6%;
  }
  .lista{
    width: 6%;
  }
  .infos2{
  font-size: 15px;
  }
  .cardDetalhes h2{
  font-size: 17px;
  font-weight: 700;
  }
.cardDetalhes h1{
  font-weight: 700;
  font-size: 18px;
  }
  .botoesDetalhes2{
    width: 300px;
    height: 30px;
    margin-left: -12px;
    
  }
  .botaoFechar, .botaoEntregue{
    margin-top: 0;
    margin-bottom: 15px;
    
  }
  .botaoEntregue{
    margin-right: 0;
  }
  .cardDetalhes{
    margin-top: -10px;
  }
  .cardResumo p {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  }
  .botaoDetalhes{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .infos{
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
 }
 .infos strong{
  font-size: 20px;
 }
}



