.relogio {
  width: 95.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #A7A7A7;
  color: #535353;
}

.relogio2{
  width: 97.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hora {
  font-size: 1.2rem;
  font-weight: 600;
  /*margin-left: 25px;*/
}

.data {
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.8;
  font-weight: 600;
  /*margin-right: 25px;*/
}

@media (max-width: 768px){
    .relogio{
        width: 84%;
    }
    .hora{
        font-size: 1rem;
        margin-left: -15px;
    }
    .data{
      margin-right: -10px;
    }
}